/* common */
body,p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,sans-serif;font-size:12px;line-height:normal}
pre{font-family:'돋움',Dotum,sans-serif;font-size:12px;display:inline;word-wrap:break-word;word-break:break-all;*white-space:pre;white-space:pre-wrap}
html,body{height:100%}
img,fieldset{border:0}
menu,ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
table{border-collapse:collapse;border-spacing:none}
button[disabled=disabled]{cursor:default !important}
button{margin:0;padding:0;border:0;background:none;cursor:pointer}
input[type=image],input[type=text],input[type=submit],input[type=password],textarea{-webkit-appearance:none;-webkit-border-radius:0;resize:none}


body{background-color: #131313;}
.eater_font{font-family: 'Eater', cursive;}
.header{height:68px;background-color: #0099cc;line-height:68px;color:#ffffff;font-size: 24px;}
.logo{margin-left: 20px;}

.login_box{width:520px;height:210px;background-color: #ffffff;margin:50px auto;border-radius: 5px;}
.box_logo{text-align: center;font-size: 24px;}
.box_txt{text-align: center;font-size: 14px;margin-top: 6px;}
.name_input{width:480px;height:44px;margin:12px 0 0 20px;border:1px solid #c0c0c0;border-radius: 12px;font-size: 22px;font-weight: 700;padding:0 2px;}
.entrance{width:480px;margin-left: 20px;margin-top: 10px;height:42px;border-radius:2px;color:#ffffff;border:1px solid #c0c0c0;font-weight: 700;font-size: 16px;
background: rgb(29,121,244); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNzlmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE2NmFkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDVlYjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(29,121,244,1) 0%, rgba(22,106,210,1) 40%, rgba(16,94,184,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,121,244,1)), color-stop(40%,rgba(22,106,210,1)), color-stop(100%,rgba(16,94,184,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(29,121,244,1) 0%,rgba(22,106,210,1) 40%,rgba(16,94,184,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(29,121,244,1) 0%,rgba(22,106,210,1) 40%,rgba(16,94,184,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(29,121,244,1) 0%,rgba(22,106,210,1) 40%,rgba(16,94,184,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(29,121,244,1) 0%,rgba(22,106,210,1) 40%,rgba(16,94,184,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d79f4', endColorstr='#105eb8',GradientType=0 ); /* IE6-8 */}