html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Indian Holdem
    link(href='http://fonts.googleapis.com/css?family=Eater', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='./style/index.css')
  body
    .header._header
      .logo.eater_font Indian Holdem
    .waiting_room
      .room_menu
        .waitingroom_header
          h3 입장하기
        ul
          li.room_menu_item
            p.user_name
              strong #{user.sName}
              | 님
            table.room_menu_user
              colgroup
                col(width='50%')
                col(width='50%')
              tbody
                tr
                  td 전적
                  td
                    span.num 0
                    | 승
                    span.num 0
                    | 패
                tr
                  td 가넷
                  td
                    span.num 0
          li.room_menu_item
            h4 자동 입장 하기
            form(action='/randomMatch')
              input(type='submit', value='RANDOM MATCH')
          li.room_menu_item
            h4 방 만들기
            form(action='/makeRoom', method='POST')
              table
                colgroup
                  col(width='60')
                  col(width='200')
                tbody
                  tr
                    td
                      label(for='roomname') 방이름
                    td
                      input#roomname(type='text', name='roomname')
                  tr
                    td
                      label(for='makeroom_pw') 비밀번호
                    td
                      input#makeroom_pw(type='text', name='password')
                  tr
                    td
                      label(for='secretroom') 비밀방
                    td
                      input#secretroom(type='checkbox', name='secretroom')
              input(type='submit', value='MAKE ROOM')
          li.room_menu_item
            h4 찾아서 입장 하기
            form(action='/enterRoom')
              table
                colgroup
                  col(width='60')
                  col(width='200')
                tbody
                  tr
                    td
                      label(for='roomname') 방이름
                    td
                      input#roomname(type='text', name='roomname')
                  tr
                    td
                      label(for='makeroom_pw') 비밀번호
                    td
                      input#makeroom_pw(type='text', name='password')
              input(type='submit', value='ENTER ROOM')
      .room_ct
        .room_area
          .waitingroom_header
            h3 방 리스트
          .room_area_body
            ul.room_list
              each room in aRoomList
                 li 
                   .room_item room.sRoomName
